services:
  # 1. Регулировщик трафика и SSL
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: always
    ports:
      - '80:80'   # Обычный интернет
      - '81:81'   # Админка прокси
      - '443:443' # Защищенный интернет (HTTPS)
    volumes:
      - ./data/npm:/data
      - ./data/letsencrypt:/etc/letsencrypt

  # 2. VPN панель (3x-ui)
  3x-ui:
    image: ghcr.io/m0neit/3x-ui:latest
    restart: always
    network_mode: host # Нужно для работы VPN протоколов
    environment:
      - XRAY_VMESS_AEAD_FORCED=false
    volumes:
      - ./data/3x-ui:/etc/xray-ui

  # 3. DNS сервер (AdGuard Home)
  adguardhome:
    image: adguard/adguardhome
    restart: always
    ports:
      - '53:53/tcp'
      - '53:53/udp'
      - '3000:3000/tcp' # Первичная настройка
    volumes:
      - ./data/adguard/work:/opt/adguardhome/work
      - ./data/adguard/conf:/opt/adguardhome/conf
